---
swagger: "2.0"
info:
  description: |
    This is a swagger defenition for [Telegram bot API](https://core.telegram.org/bots/api).
  version: "1.0.0"
  title: Telegram bot API
externalDocs:
  description: Find out more about Telegram bot API
  url: https://core.telegram.org/bots/api
host: api.telegram.org
schemes:
 - https
consumes:
- application/json
produces:
- application/json
basePath: /
parameters:
  token:
    in: path
    name: token
    required: false
    type: string
    description: bot's token to authorize the request
paths:
  /bot{token}/getUpdates:
    post:
      tags:
      - updates
      description: ""
      operationId: getUpdates
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            offset:
              type: integer
              format: int64
            limit:
              type: integer
              format: int64
            timeout:
              type: integer
              format: int64
            allowed_updates:
              type: array
              items:
                type: string
                enum:
                - message
                - edited_message
                - channel_post
                - edited_channel_post
                - inline_query
                - chosen_inline_result
                - callback_query
      responses:
        200:
          description: An array of Updates
          schema:
            $ref: "#/definitions/ResponseUpdate"
  /bot{token}/getMe:
    get:
      tags:
      - users
      description: ""
      operationId: getMe
      parameters:
      - $ref: '#/parameters/token'
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: "#/definitions/User"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/sendMessage:
    post:
      tags:
      - messages
      description: ""
      operationId: sendMessage
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        schema:
          type: object
          required:
          - chat_id
          - text
          properties:
            chat_id:
              type: object
            text:
              type: string
            parse_mode:
              type: string
              enum:
              - Markdown
              - Html
            disable_web_page_preview:
              type: boolean
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/forwardMessage:
    post:
      tags:
      - messages
      description: ""
      operationId: forwardMessage
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: from_chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: message_id
        type: integer
        format: int64
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendPhoto:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendPhoto
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: photo
        type: file
        required: true
        description: ""
      - in: formData
        name: caption
        type: string
        required: false
        description: "" 
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendPhoto#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendPhotoLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - photo
          properties:
            chat_id:
              type: object
            photo:
              type: string
            caption:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendAudio:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendAudio
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: audio
        type: file
        required: true
        description: ""
      - in: formData
        name: caption
        type: string
        required: false
        description: "" 
      - in: formData
        name: duration
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: performer
        type: string
        required: false
        description: "" 
      - in: formData
        name: title
        type: string
        required: false
        description: "" 
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendAudio#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendAudioLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - audio
          properties:
            chat_id:
              type: object
            audio:
              type: string
            caption:
              type: string
            duration:
              type: integer
              format: int64
            performer:
              type: string
            title:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendDocument:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendDocument
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: document
        type: file
        required: true
        description: ""
      - in: formData
        name: caption
        type: string
        required: false
        description: "" 
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendDocument#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendDocumentLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - document
          properties:
            chat_id:
              type: object
            document:
              type: string
            caption:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendSticker:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendSticker
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: sticker
        type: file
        required: true
        description: ""
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendSticker#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendStickerLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - sticker
          properties:
            chat_id:
              type: object
            sticker:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendVideo:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendVideo
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: video
        type: file
        required: true
        description: ""
      - in: formData
        name: duration
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: width
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: height
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: caption
        type: string
        required: false
        description: "" 
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendVideo#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendVideoLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - audio
          properties:
            chat_id:
              type: object
            audio:
              type: string
            duration:
              type: integer
              format: int64
            width:
              type: integer
              format: int64
            height:
              type: integer
              format: int64
            caption:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendVoice:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendVoice
      consumes:
      - multipart/form-data
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: chat_id
        type: string
        required: true
        description: ""
      - in: formData
        name: voice
        type: file
        required: true
        description: ""
      - in: formData
        name: caption
        type: string
        required: false
        description: "" 
      - in: formData
        name: duration
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: disable_notification
        type: boolean
        required: false
        description: ""
      - in: formData
        name: reply_to_message_id
        type: integer
        format: int64
        required: false
        description: ""
      - in: formData
        name: reply_markup
        type: string
        required: false
        description: "json string of reply_markup object"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendVoice#link:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendVoiceLink
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        required: false
        name: body
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - voice
          properties:
            chat_id:
              type: object
            voice:
              type: string
            caption:
              type: string
            duration:
              type: integer
              format: int64
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendLocation:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendLocation
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - latitude
          - longitude
          properties:
            chat_id:
              type: object
            latitude:
              type: number
            longitude:
              type: number
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendVenue:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendVenue
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - latitude
          - longitude
          - title
          - address
          properties:
            chat_id:
              type: object
            latitude:
              type: number
            longitude:
              type: number
            title:
              type: string
            address:
              type: string
            foursquare_id:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendContact:
    post:
      tags:
      - attachments
      description: ""
      operationId: sendContact
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - phone_number
          - first_name
          properties:
            chat_id:
              type: object
            phone_number:
              type: string
            first_name:
              type: string
            last_name:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              schema:
                type: object
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/sendChatAction:
    get:
      tags:
      - chats
      description: ""
      operationId: sendChatAction
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      - in: query
        name: action
        type: string
        required: true
        description: ""
        enum:
          - typing
          - upload_photo
          - record_video
          - upload_video
          - record_audio
          - upload_audio
          - upload_document
          - find_location
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getUserProfilePhotos:
    get:
      tags:
      - users
      description: ""
      operationId: getUserProfilePhotos
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: user_id
        type: integer
        format: int64
        required: true
        description: ""
      - in: query
        name: offset
        type: integer
        format: int64
        required: false
        description: ""
      - in: query
        name: limit
        type: integer
        format: int64
        required: false
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: "#/definitions/UserProfilePhotos"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getFile:
    get:
      tags:
      - attachments
      description: ""
      operationId: getFile
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: file_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: "#/definitions/File"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/kickChatMember:
    get:
      tags:
      - chats
      description: ""
      operationId: kickChatMember
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      - in: query
        name: user_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/leaveChat:
    get:
      tags:
      - chats
      description: ""
      operationId: leaveChat
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/unbanChatMember:
    get:
      tags:
      - chats
      description: ""
      operationId: unbanChatMember
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      - in: query
        name: user_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getChat:
    get:
      tags:
      - chats
      description: ""
      operationId: getChat
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: "#/definitions/Chat"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getChatAdministrators:
    get:
      tags:
      - chats
      description: ""
      operationId: getChatAdministrators
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: array
                items: 
                  $ref: "#/definitions/ChatMember"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getChatMembersCount:
    get:
      tags:
      - chats
      description: ""
      operationId: getChatMembersCount
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: integer
                format: int64
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getChatMember:
    get:
      tags:
      - chats
      description: ""
      operationId: getChatMember
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: chat_id
        type: string
        required: true
        description: ""
      - in: query
        name: user_id
        type: string
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: "#/definitions/ChatMember"
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/answerCallbackQuery:
    post:
      tags:
      - callbacks
      description: ""
      operationId: answerCallbackQuery
      parameters:
      - $ref: '#/parameters/token'
      - in: formData
        name: callback_query_id
        type: string
        required: true
        description: ""
      - in: formData
        name: text
        type: string
        required: true
        description: ""
      - in: formData
        name: show_alert
        type: boolean
        required: true
        description: ""
      - in: formData
        name: url
        type: string
        required: true
        description: ""
      - in: formData
        name: cache_time
        type: integer
        format: int64
        required: true
        description: ""
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string      
  /bot{token}/editMessageText:
    post:
      tags:
      - messages
      description: ""
      operationId: editMessageText
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - text
          properties:
            chat_id:
              type: object
            message_id:
              type: integer
              format: int64
            inline_message_id:
              type: string
            text:
              type: string
            parse_mode:
              type: string
              enum:
              - Markdown
              - HTML
            disable_web_page_preview:
              type: boolean
            reply_markup:
              $ref: '#/definitions/InlineKeyboardMarkup'
      
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: object
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string    
  /bot{token}/editMessageCaption:
    post:
      tags:
      - messages
      description: ""
      operationId: editMessageCaption
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          properties:
            chat_id:
              type: object
            message_id:
              type: integer
              format: int64
            inline_message_id:
              type: string
            caption:
              type: string
            reply_markup:
              $ref: '#/definitions/InlineKeyboardMarkup'
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: object
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string 
  /bot{token}/editMessageReplyMarkup:
    post:
      tags:
      - messages
      description: ""
      operationId: editMessageReplyMarkup
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          properties:
            chat_id:
              type: object
            message_id:
              type: integer
              format: int64
            inline_message_id:
              type: string
            reply_markup:
              $ref: '#/definitions/InlineKeyboardMarkup'
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: object
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/answerInlineQuery:
    post:
      tags:
      - inline
      description: ""
      operationId: answerInlineQuery
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - inline_query_id
          - results
          properties:
            inline_query_id:
              type: string
            results:
              type: array
              items:
                type: object
            cache_time:
              type: integer
              format: int64
            is_personal:
              type: boolean
            next_offset:
              type: string
            switch_pm_text:
              type: string
            switch_pm_parameter:
              type: string
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: boolean
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/sendGame:
    post:
      tags:
      - games
      description: ""
      operationId: sendGame
      parameters:
      - $ref: '#/parameters/token'
      - in: body
        name: body
        required: false
        description: ""
        schema:
          type: object
          required:
          - chat_id
          - game_short_name
          properties:
            chat_id:
              type: integer
              format: int64
            game_short_name:
              type: string
            disable_notification:
              type: boolean
            reply_to_message_id:
              type: integer
              format: int64
            reply_markup:
              $ref: '#/definitions/InlineKeyboardMarkup'
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ResponseMessage"
  /bot{token}/setGameScore:
    get:
      tags:
      - games
      description: ""
      operationId: setGameScore
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: user_id
        type: integer
        format: int64
        description: ""
        required: true
      - in: query
        name: score
        type: integer
        format: int64
        description: ""
        required: true
      - in: query
        name: force
        type: boolean
        description: ""
        required: false
      - in: query
        name: disable_edit_message
        type: boolean
        description: ""
        required: false
      - in: query
        name: chat_id
        type: integer
        format: int64
        description: ""
        required: false
      - in: query
        name: message_id
        type: integer
        format: int64
        description: ""
        required: false
      - in: query
        name: inline_message_id
        type: string
        description: ""
        required: false
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                type: object # boolean or Message
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
  /bot{token}/getGameHighScores:
    get:
      tags:
      - games
      description: ""
      operationId: getGameHighScores
      parameters:
      - $ref: '#/parameters/token'
      - in: query
        name: user_id
        type: integer
        format: int64
        description: ""
        required: true
      - in: query
        name: chat_id
        type: integer
        format: int64
        description: ""
        required: false
      - in: query
        name: message_id
        type: integer
        format: int64
        description: ""
        required: false
      - in: query
        name: inline_message_id
        type: string
        description: ""
        required: false

      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/GameHighScore'
              error_code:
                type: integer
                format: int64
              ok:
                type: boolean
              description:
                type: string
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        foramt: int64
      username:
        type: string
      first_name:
        type: string
      last_name:
        type: string
  Chat:
    type: object
    properties:
      id:
        type: integer
        format: int64
      type:
        type: string
        enum:
        - private
        - group
        - supergroup
        - channel
      title:
        type: string
      username:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      all_members_are_administrators:
        type: boolean
  Message:
    type: object
    properties:
      message_id:
        type: integer
        format: int64
      from:
        $ref: '#/definitions/User'
      date:
        type: integer
        format: int64
      chat:
        $ref: '#/definitions/Chat'
      forward_from:
        $ref: '#/definitions/User'
      forward_from_chat:
        $ref: '#/definitions/Chat'
      forward_from_message_id:
        type: integer
        format: int64
      forward_date:
        type: integer
        format: int64
      reply_to_message:
        $ref: '#/definitions/Message'
      edit_date:
        type: integer
        format: int64
      text:
        type: string
      entities:
        type: array
        items:
          $ref: '#/definitions/MessageEntity'
      audio:
        $ref: '#/definitions/Audio'
      document:
        $ref: '#/definitions/Document'
      game:
        $ref: '#/definitions/Game'
      photo:
        type: array
        items:
          $ref: '#/definitions/PhotoSize'
      sticker:
        $ref: '#/definitions/Sticker'
      video:
        $ref: '#/definitions/Video'
      voice:
        $ref: '#/definitions/Voice'
      caption:
        type: string
      contact:
        $ref: '#/definitions/Contact'
      location:
        $ref: '#/definitions/Location'
      venue:
        $ref: '#/definitions/Venue'
      new_chat_member:
        $ref: '#/definitions/User'
      left_chat_member:
        $ref: '#/definitions/User'
      new_chat_title:
        type: string
      new_chat_photo:
        type: array
        items:
          $ref: '#/definitions/PhotoSize'
      delete_chat_photo:
        type: boolean
      group_chat_created:
        type: boolean
      supergroup_chat_created:
        type: boolean
      channel_chat_created:
        type: boolean
      migrate_to_chat_id:
        type: integer
        format: int64
      migrate_from_chat_id:
        type: integer
        format: int64
      pinned_message:
        $ref: '#/definitions/Message'
  MessageEntity:
    type: object
    properties:
      type:
        type: string
        enum:
        - mention
        - hashtag
        - bot_command
        - url
        - email
        - bold
        - italic
        - code
        - pre
        - text_link
        - text_mention
      offset:
        type: integer
        format: int64
      length:
        type: integer
        format: int64
      url:
        type: string
      user:
        $ref: '#/definitions/User'
  PhotoSize:
    type: object
    properties:
      file_id:
        type: string
      width:
        type: integer
        format: int64
      height:
        type: integer
        format: int64
      file_size:
        type: integer
        format: int64
  Audio:
    type: object
    properties:
      file_id:
        type: string
      duration:
        type: integer
        format: int64
      performer:
        type: string
      title:
        type: string
      mime_type:
        type: string
      file_size:
        type: integer
        format: int64
  Document:
    type: object
    properties:
      file_id:
        type: string
      thumb:
        $ref: '#/definitions/PhotoSize'
      file_name:
        type: string
      mime_type:
        type: string
      file_size:
        type: integer
        format: int64
  Sticker:
    type: object
    properties:
      file_id:
        type: string
      width:
        type: integer
        format: int64
      height:
        type: integer
        format: int64
      thumb:
        $ref: '#/definitions/PhotoSize'
      emoji:
        type: string
      file_size:
        type: integer
        format: int64
  Video:
    type: object
    properties:
      file_id:
        type: string
      width:
        type: integer
        format: int64
      height:
        type: integer
        format: int64
      duration:
        type: integer
        format: int64
      thumb:
        $ref: '#/definitions/PhotoSize'
      mime_type:
        type: string
      file_size:
        type: integer
        format: int64
  Voice:
    type: object
    properties:
      file_id:
        type: string
      duration:
        type: integer
        format: int64
      mime_type:
        type: string
      file_size:
        type: integer
        format: int64
  Contact:
    type: object
    properties:
      phone_number:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      user_id:
        type: integer
        format: int64
  Location:
    type: object
    properties:
      longitude:
        type: number
        format: float64
      latitude:
        type: number
        format: float64
  Venue:
    type: object
    properties:
      location:
        $ref: '#/definitions/Location'
      title:
        type: string
      address:
        type: string
      foursquare_id:
        type: string
  File:
    type: object
    properties:
      file_id:
        type: string
      file_id:
        type: integer
        format: int64
      file_path:
        type: string
  ReplyKeyboardMarkup:
    type: object
    properties:
      keyboard:
        type: array
        items:
          $ref: '#/definitions/KeyboardButton'
      resize_keyboard:
        type: boolean
      one_time_keyboard:
        type: boolean
      selective:
        type: boolean
  KeyboardButton:
    type: object
    properties:
      text:
        type: string
      request_contact:
        type: boolean
      request_location:
        type: boolean
  ReplyKeyboardRemove:
    type: object
    properties:
      remove_keyboard:
        type: boolean
      selective:
        type: boolean
  InlineKeyboardMarkup:
    type: object
    properties:
      inline_keyboard:
        type: array
        items:
          type: array
          items:
            $ref: '#/definitions/InlineKeyboardButton'
  InlineKeyboardButton:
    type: object
    properties:
      text:
        type: string
      url:
        type: string
      callback_data:
        type: string
      switch_inline_query:
        type: string
      switch_inline_query_current_chat:
        type: string
      callback_game:
        $ref: '#/definitions/CallbackGame'
  CallbackQuery:
    type: object
    properties:
      id:
        type: string
      from:
        $ref: '#/definitions/User'
      message:
        $ref: '#/definitions/Message'
      inline_message_id:
        type: string
      chat_instance:
        type: string
      data:
        type: string
      game_short_name:
        type: string
  ForceReply:
    type: object
    properties:
      force_reply:
        type: boolean
      selective:
        type: boolean
  ChatMember:
    type: object
    properties:
      user:
        $ref: '#/definitions/User'
      status:
        type: string
        enum:
        - administrator
        - member
        - left
        - kicked
  ResponseParameters:
    type: object
    properties:
      migrate_to_chat_id:
        type: integer
        format: int64
      retry_after:
        type: integer
        format: int64
  Update:
    type: object
    properties:
      update_id:
        type: integer
        format: int64
      message:
        $ref: '#/definitions/Message'
      edited_message:
        $ref: '#/definitions/Message'
      channel_post:
        $ref: '#/definitions/Message'
      edited_channel_post:
        $ref: '#/definitions/Message'
      inline_query:
        $ref: '#/definitions/InlineQuery'
      chosen_inline_result:
        $ref: '#/definitions/ChosenInlineResult'
      callback_query:
        $ref: '#/definitions/CallbackQuery'
  UserProfilePhotos:
    type: object
    properties:
      total_count:
        type: integer
        format: int64
      photos:
        type: array
        items:
          type: array
          items:
            $ref: '#/definitions/PhotoSize'
  InputTextMessageContent:
    type: object
    required:
    - message_text
    properties:
      message_text:
        type: string
      parse_mode:
        type: string
        enum:
          - Markdown
          - HTML
      disable_web_page_preview:
        type: boolean
  InputLocationMessageContent:
    type: object
    required:
    - latitude
    - longitude
    properties:
      latitude:
        type: number
      longitude:
        type: number
  InputVenueMessageContent:
    type: object
    required:
    - latitude
    - longitude
    - title
    - address
    properties:
      latitude:
        type: number
      longitude:
        type: number
      title:
        type: string
      address:
        type: string
      foursquare_id:
        type: string
  InputContactMessageContent:
    type: object
    required:
    - phone_number
    - first_name
    properties:
      phone_number:
        type: string
      first_name:
        type: string
      last_name:
        type: string
  ChosenInlineResult:
    type: object
    required:
    - result_id
    - from
    - query
    properties:
      result_id:
        type: string
      from:
        $ref: '#/definitions/User'
      location:
        $ref: '#/definitions/Location'
      inline_message_id:
        type: string
      query:
        type: string
  Game:
    type: object
    required:
    - title
    - description
    - photo
    properties:
      title:
        type: string
      description:
        type: string
      photo:
        type: array
        items:
          $ref: '#/definitions/PhotoSize'
      text:
        type: string
      text_entities:
        type: array
        items:
          $ref: '#/definitions/MessageEntity'
      animation:
        $ref: '#/definitions/Animation'
  Animation:
    type: object
    required:
    - file_id
    properties:
      file_id:
        type: string
      thumb:
        $ref: '#/definitions/PhotoSize'
      file_name:
        type: string
      mime_type:
        type: string
      file_size:
        type: integer
        format: int64
  GameHighScore:
    type: object
    properties:
      position:
        type: integer
        format: int64
      user:
        $ref: '#/definitions/User'
      score:
        type: integer
        format: int64
  CallbackGame:
    type: object
  InlineQuery:
    type: object
    properties:
      id:
        type: string
      from:
        $ref: '#/definitions/User'
      location:
        $ref: '#/definitions/Location'
      query:
        type: string
      offset:
        type: string
  InlineQueryResultArticle:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      title:
        type: string
      input_message_content:
        type: object # one of InputMessageContent
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      url: 
        type: string
      hide_url:
        type: boolean
      description:
        type: string
      thumb_url:
        type: string
      thumb_width:
        type: integer
        format: int64
      thumb_height:
        type: integer
        format: int64
    required:
    - type
    - id
    - title
    - input_message_content
  InlineQueryResultAudio:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      audio_url: 
        type: string
      title:
        type: string
      caption:
        type: string
      performer:
        type: string
      audio_duration:
        type: integer
        format: int64
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - audio_url
    - title
  InlineQueryResultContact:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      phone_number:
        type: string
      first_name:
        type: string
      last_name:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object # one of InputMessageContent
      thumb_url:
        type: string
      thumb_width:
        type: integer
        format: int64
      thumb_height:
        type: integer
        format: int64
    required:
    - type
    - id
    - phone_number
    - first_name
  InlineQueryResultGame:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      game_short_name:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - game_short_name
  InlineQueryResultDocument:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      title:
        type: string
      caption:
        type: string
      document_url:
        type: string
      mime_type:
        type: string
      description:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
      thumb_url:
        type: string
      thumb_width:
        type: integer
        format: int64
      thumb_height:
        type: integer
        format: int64
    required:
    - type
    - id
    - title
    - document_url
    - mime_type
  InlineQueryResultGif:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      gif_url:
        type: string
      gif_width:
        type: integer
        format: int64
      gif_height:
        type: integer
        format: int64
      thumb_url:
        type: string
      title:
        type: string
      caption:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
    required:
    - type
    - id
    - gif_url
    - thumb_url
  InlineQueryResultLocation:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      latitude:
        type: number
      longitude:
        type: number
      title:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
      thumb_url:
        type: string
      thumb_width:
        type: integer
        format: int64
      thumb_height:
        type: integer
        format: int64
    required:
    - type
    - id
    - title
    - latitude
    - longitude
  InlineQueryResultMpeg4Gif:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      mpeg4_url:
        type: string
      mpeg4_width:
        type: integer
        format: int64
      mpeg4_height:
        type: integer
        format: int64
      thumb_url:
        type: string
      title:
        type: string
      caption:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
    required:
    - type
    - id
    - mpeg4_url
    - thumb_url
  InlineQueryResultPhoto:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      photo_url:
        type: string
      thumb_url:
        type: string
      photo_width:
        type: integer
        format: int64
      photo_height:
        type: integer
        format: int64
      title:
        type: string
      caption:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
    required:
    - type
    - id
    - photo_url
    - thumb_url
  InlineQueryResultVenue:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      latitude:
        type: number
      longitude:
        type: number
      title:
        type: string
      address:
        type: string
      foursquare_id:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
      thumb_url:
        type: string
      thumb_width:
        type: integer
        format: int64
      thumb_height:
        type: integer
        format: int64
    required:
    - type
    - id
    - title
    - latitude
    - longitude
    - address
  InlineQueryResultVideo:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      video_url:
        type: string
      mime_type:
        type: string
      thumb_url:
        type: string
      title:
        type: string
      caption:
        type: string
      video_width:
        type: integer
        format: int64
      video_height:
        type: integer
        format: int64
      video_duration:
        type: integer
        format: int64
      description:
        type: string
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
      input_message_content:
        type: object 
    required:
    - type
    - id
    - video_url
    - mime_type
    - thumb_url
    - title
  InlineQueryResultVoice:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      voice_url: 
        type: string
      title:
        type: string
      caption:
        type: string
      voice_duration:
        type: integer
        format: int64
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - voice_url
    - title
  InlineQueryResultCachedAudio:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      audio_file_id: 
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - audio_file_id
  InlineQueryResultCachedDocument:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      document_file_id: 
        type: string
      description:
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - document_file_id
  InlineQueryResultCachedGif:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      gif_file_id: 
        type: string
      title:
        type: string
      input_message_content:
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - gif_file_id
  InlineQueryResultCachedMpeg4Gif:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      mpeg4_file_id: 
        type: string
      title:
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - mpeg4_file_id
  InlineQueryResultCachedPhoto:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      photo_file_id: 
        type: string
      title:
        type: string
      description:
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - photo_file_id
  InlineQueryResultCachedSticker:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      sticker_file_id: 
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - sticker_file_id
  InlineQueryResultCachedVideo:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      video_file_id: 
        type: string
      title:
        type: string
      description:
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - video_file_id
  InlineQueryResultCachedVoice:
    type: object
    properties:
      type:
        $ref: '#/definitions/InlineType'
      id:
        type: string
      voice_file_id: 
        type: string
      title:
        type: string
      caption:
        type: string
      input_message_content:
        type: object
      reply_markup:
        $ref: '#/definitions/InlineKeyboardMarkup'
    required:
    - type
    - id
    - voice_file_id
  InlineType:
    type: string
    enum:
    - article
    - audio
    - contact
    - game
    - document
    - gif
    - location
    - mpeg4_gif
    - photo
    - venue
    - video
    - voice
    - sticker
  ResponseMessage:
    type: object
    properties:
      result:
        $ref: "#/definitions/Message"
      error_code:
        type: integer
        format: int64
      ok:
        type: boolean
      description:
        type: string
  ResponseUpdate:
    type: object
    properties:
      result:
        type: array
        items:
          $ref: "#/definitions/Update"
      error_code:
        type: integer
        format: int64
      ok:
        type: boolean
      description:
        type: string
